<div class="container">
  <div class="ribbon"> Contact <i class="fa-solid fa-address-book wow rotate" data-wow-duration="1s"></i></div>

    <div class="row">
        <div class=" item1">
          <h5>Contact</h5>
          <p> <i class="fas fa-phone"></i> 038 47 526 82</p>
        </div>
        <div class="item2">
          <h5>Adresse</h5>
          <p> <i class="fas fa-map-marker-alt"> </i> Lot II B39 Mahalavolona </p>

        </div>
        <div class="item3">
          <h5>Email</h5>
          <p>
            <a
              href="mailto:arisonchainapro&#64;gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              style="text-decoration: none; color: inherit;"
            >
            <i class="fas fa-envelope"></i>
            arisonchainapro&#64;gmail.com
            </a>
          </p>


        </div>
    </div>
</div>

