<div class="container">
  <br><br>
  <div class="ribbon">Profil <i class="fa-solid fa-user wow rotate" data-wow-duration="1s"></i> </div>
  <div class="row">
    <div class="col-lg-4 divleft">
      <div class="profil">
        <div class="wow writing-animation"> Qui suis-je ?</div>
        <div class="h_separator"></div>
      </div> <br>
      <h4>Jeune téléconseiller</h4>
      <p>
        Passionnée par la relation client, je commence ma carrière en tant que téléconseillère et suis motivée à apporter un
        soutien attentif et de qualité aux clients. Je souhaite développer mes compétences en communication et contribuer à
        une expérience client positive au sein d'une équipe accueillante.
      </p>
      <div class="dowload_cv"><button (click)="downloadCV()">Télécharger cv <i class="fas fa-download"></i></button></div>

    </div>
    <div class="col-lg-4 divcenter">
      <div class="profil">
        <div class="wow writing-animation"> Information :</div>
        <div class="h_separator"></div>
      </div> <br>
      <p> <b>Nom: </b> Arison Chaïna Michaella <br>
          <b>Naissance : </b> 12 Juillet 2005 <br>
          <b>Ville : </b> Antananarivo 101, Andoharanofotsy <br>
          <b>Adresse : </b> Lot II B39 Mahalavolona <br>
          <b>Contact direct : </b> 038 47 526 82 <br>
          <b>Email : </b> {{'arisonchainapro@gmail.com'}}
      </p> <br>
      <div class="contact">
        <ul>
          <li><a href="https://wa.me/2614752682" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="https://www.facebook.com/shayynah.arison?locale=fr_FR" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=arisonchainapro@gmail.com" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope"></i></a></li>
        </ul>
      </div>

    </div>
    <div class="col-lg-4 divright">
      <div class="profil">
        <div class="wow writing-animation"> Atout :</div>
        <div class="h_separator"></div>
      </div> <br>
      <ul>
        <li>Informatique bureautique</li>
        <li>Réseau sociaux</li>
        <li>Excellente communication</li>
        <li>Résolution des problémes</li>
        <li>Collaboration</li>
        <li>Adaptabilité (Capacité d'apprendre rapidement)</li>
        <li>Gestion temps</li>
        <li>Vigoureuse,  enthousiaste</li>
      </ul>
    </div>
  </div>
  <hr>

</div>
