  <div class="container">
    <div class="ribbon"> Compétence <i class="fa-solid fa-cogs wow rotate" data-wow-duration="1s"> </i></div>
    <div class="row grid">
      <div class="divright">
        <div class="profil">
          <div class="h_separator"></div>
        </div> <br>
        
        <ul class="skills-list">
          <li>
            <span>Word </span>
            <div class="progress-bar">
              <div class="progress" style="width: 65%;"></div>
            </div>
          </li>
          <li>
            <span>Exel </span>
            <div class="progress-bar">
              <div class="progress" style="width: 50%;"></div>
            </div>
          </li>
          <li>
            <span>Réseau sociaux </span>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </li>
         
          <li>
            <span>Recherche</span>
            <div class="progress-bar">
              <div class="progress" style="width: 80%;"></div>
            </div>
          </li>
          <li>
            <span>Francais </span>
            <div class="progress-bar">
              <div class="progress" style="width: 90%;"></div>
            </div>
          </li>
          <li>
            <span>Anglais </span>
            <div class="progress-bar">
              <div class="progress" style="width: 70%;"></div>
            </div>
          </li>
        </ul>
      </div>
      

    </div>
  </div>

