<div class="container">
  <div class="ribbon"> Objectif <i class="fa-solid fas fa-bullseye rotate" data-wow-duration="1s"> </i></div>
  <div class="objectif-section">
    <div class="profil">
      <div class="wow writing-animation"> Objectifs Professionnels :</div>
      <div class="h_separator"></div>
    </div> <br>
    
    <div class="objectif-description">
      <p>
        Passionnée par la relation client, je souhaite développer mes compétences en communication et en gestion de situations 
        complexes pour offrir une expérience de service positive et personnalisée.
        Mon objectif est de progresser dans divers secteurs en apprenant à gérer efficacement les besoins des clients et en
        apportant des solutions adaptées. Je suis motivée à m’intégrer dans une équipe dynamique, où je pourrai contribuer activement
        et acquérir de nouvelles compétences pour évoluer vers des rôles à responsabilités.
        
      </p>
    </div>
  </div>
  
</div>

