<div class="container">
  <div class="ribbon">Education <i class="fa-solid fa-book-open wow rotate" data-wow-duration="1s"> </i> </div>

  <div class="row education">
    <ul>
      <li>
        <i class="fa-solid fa-circle-dot wow liste1-wow" > </i> 2023
        <p id="description">Faculté de médecine en 1er année <br> A l'Université d'Ankatso Antananarivo </p>
      </li>
    
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> 2022
        <p id="description">Baccalauréat série D avec mention Bien, <br> Ecole : FJKM Mahalavolona</p>
      </li>
      <li>
        <i class="fa-solid fa-circle-dot wow liste3-wow"> </i> Cours
        <p id="description">- Alliance française Andavamamba, <br> - Formation chez Dynasty call center à 67Ha</p>
      </li>

    </ul>
  </div>
</div>
